{%- if settings.show_modal == true && customer -%}
	<div class="modal-wrap modal-discount" id="modal-10-demo" style="display: none">
          <div class="modal-container modal-10-container">            
            <a href="https://vapejuicedepot.com/pages/loyalty" id="modal-10-btn" class="form__submit form__submit--tight button button--primary">GET STARTED</a>
          <div style="align-self: end">
            <button class="modal-discount_close_btn">✖</button>
          </div>
          </div>
    </div>
{%- endif -%}