<h1 style="position: absolute; z-index: -9999999;color:#f2f5f6;">Vape Juice Depot</h1>
<h2 style="position: absolute; z-index: -9999999;color:#f2f5f6;">Vape Shop</h2>
{% schema %}
{
  "name": "DO NOT TOUCH H1 H2 ",
  "class": "shopify-section--headers",
  "presets": [
    {
      "category": "Advanced",
      "name": "Custom Headers",
      "settings": {}
    }
  ]
}
{% endschema %}